workflows/Personal Blog.json
{
  "active": true,
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Blog Archetype": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Content Editor": {
      "main": [
        []
      ]
    },
    "GitHub Create Blog Article": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit Blog Article": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Blog Example": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create New Git Branch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Branch Creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "AI Agent Branch Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Pull Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Branch Creator": {
      "main": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomizer": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Randomizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Published Articles": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Git branches": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Branch Creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get repository content": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Branch Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Branch Creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Published Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Published Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Content Editor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Branch Creator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-23T21:54:14.919Z",
  "id": "1tuqjyRTlJ3tO7lq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Personal Blog",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "57fedf47-e462-48bd-a400-5adf88ecf008",
          "mode": "list",
          "cachedResultName": "Published Articles",
          "cachedResultUrl": "https://www.notion.so/57fedf47e46248bda4005adf88ecf008"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        -560
      ],
      "id": "903683a2-6781-450e-90e8-5d3a8e6c736c",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "WfCmw0zchSH9Yw4W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read The content of a notion Page by ID",
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Block', ``, 'string') }}"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "fetchNestedBlocks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Also_Fetch_Nested_Blocks', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        440,
        -40
      ],
      "id": "263db593-d4de-4a49-abbb-7c0c8bf3e23d",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "WfCmw0zchSH9Yw4W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetch GitHub Blog Archetype",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.name }}",
          "mode": "name"
        },
        "filePath": "website/archetypes/default.md",
        "asBinaryProperty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('As_Binary_Property', ``, 'boolean') }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1,
      "position": [
        340,
        -40
      ],
      "id": "58544514-5712-4d36-a8e7-6ba8fc727e4e",
      "name": "GitHub Blog Archetype",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message from the previous agent:\n{{ $json.output.toJsonString() }}\n\nData From the article:\n{{ $('Global').item.json.input.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role and Goal:**\n\nYou are my portfolio's editorial assistant, automating the update of my GitHub portfolio with new articles from my Notion database. You will format these articles into Markdown blog entries, focusing on content summarization and style consistency, without writing code.\n\n**Outcome:**\n\n* Provide the merge request URL created for review, containing the new or updated blog entry.\n\n**Workflow:**\n\n1.  **Check for Existing Blog Entry:**\n    * Retrieve the contents of `website/content/english/blogs`.\n    * Determine if a file named `{YYYY-MM-DD}-{title-slug}.md` exists.\n        * If it exists, this is an update. Retrieve the file for modification.\n        * If not, this is a new entry.\n2.  **Fetch Notion Article Content:**\n    * Use the provided Notion article ID (`{{ $('Global').item.json.input.id }}`) to fetch the full article content.\n3.  **Retrieve Example Blog Entry:**\n    * Fetch an existing example blog entry from the repository to understand the desired Markdown structure and style.\n4.  **Retrieve Blog Template (Hugo Archetype):**\n    * Fetch the base blog template (Hugo archetype) from the designated GitHub repository for structure reference.\n5.  **Generate/Update Markdown Content:**\n    * **Summarization:** Create a concise summary of the Notion article's key points.\n    * **Formatting:**\n        * Apply the formatting and style observed in the Example Blog Entry, ensuring adherence to the archetype.\n        * Begin the content with a link to the original article: `[Original Article]({{ $('Global').item.json.input.property_url }})`.\n        * Insert the summary into the blog post's main body.\n        * Insert reference links found in the article\n        * **Update Considerations:**\n            * For updates, make minimal changes, primarily focusing on updating the article content.\n            * Maintain the existing structure (number of sections, etc.).\n            * Images url can be obtained from the Notion article\n    * **Content Style Guide:**\n        * **Links:** Use descriptive titles for links instead of bare URLs.\n        * **Keywords:** Highlight important keywords in the summary using bold text (`**keyword**`).\n        * **Pronouns:** Write in the first pronon \"I\" when describing your writing and use \"you\" when addressing the reader.\n6.  **Create or Update GitHub Blog:**\n    * **New Entry:** Create a new file named `{YYYY-MM-DD}-{title-slug}.md`.\n    * **Update:** update the existing file.\n7.  **Submit Pull Request:**\n    * Submit a pull request to the repository owner for review and merging.\n    * **Branch Name:** the Github branch to use when submitting content should be provided by the previous Agent\n    * **Pull Request Creation Error:** if creating a pull request fails, do not retry; it likely indicates an existing pull request.\n    * **On Update:** Always create and submit a merge request even if minimal changes where made, inform me in the body of the merge request if minimal changes where made.\n8.  **Hand Off:**\n    * The result of this process is to be handed off to the next AI agent in the chain.\n\n**Key Clarifications:**\n\n* **Filename Convention:** Strictly adhere to `{YYYY-MM-DD}-{title-slug}.md` for all blog entries.\n* **Create vs Update:** Use the correct tools for creating new entries and updating existing ones.\n* **Minimal Updates:** Preserve the original structure and make only necessary content updates.\n* **Focus on Content:** Prioritize summarizing and formatting article content over coding.\n* **Edit Blog Article Error**: If getting the error \"The resource you are requesting could not be found\" try creating a new entry instead\n* **Pull Request Creation error:** if creating a pull request faild do not try again it mostlikely meant that it already exists.\n* **date**: use publication date, not creation date",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        -560
      ],
      "id": "0a0632eb-352d-4c84-a2ba-93ca7036ca09",
      "name": "AI Agent - Content Editor",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "GitHub Create Blog Article, if it doesn not already exist",
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.name }}",
          "mode": "name"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Branch', ``, 'string') }}"
          }
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1,
      "position": [
        740,
        -40
      ],
      "id": "8b9923d8-a54e-45f7-ac62-6053242b1625",
      "name": "GitHub Create Blog Article",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Edit Blog Article",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.name }}",
          "mode": "name"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Branch', ``, 'string') }}"
          }
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1,
      "position": [
        900,
        -40
      ],
      "id": "dad4b038-f68e-4de6-9a7a-81b6397f24e2",
      "name": "GitHub Edit Blog Article",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetch GitHub Blog Example - A previous entry already created that meet our standards",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('GitHub').item.json.name }}",
          "mode": "name"
        },
        "filePath": "website/content/english/blogs/2024-06-23-building-a-devsecops-culture-the-security-champions-program.md",
        "asBinaryProperty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('As_Binary_Property', ``, 'boolean') }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1,
      "position": [
        240,
        -40
      ],
      "id": "1c9b3735-0d1a-4913-adc6-cdaea1c084de",
      "name": "GitHub Blog Example",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Create a new branch for the specified project on Github",
        "method": "POST",
        "url": "={{ $('GitHub').item.json.url }}/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n      \"ref\": \"refs/heads/{NEW-BRANCH-NAME}\",\n      \"sha\": \"{HASH-TO-BRANCH-FROM}\"\n  }",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "NEW-BRANCH-NAME",
              "description": "new chanch name"
            },
            {
              "name": "HASH-TO-BRANCH-FROM",
              "description": "Hash to branch from"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -140,
        -180
      ],
      "id": "f55c4c0b-8431-4133-a4e6-4b201c195898",
      "name": "Create New Git Branch",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -700,
        -540
      ],
      "id": "9a066d72-799e-4954-a791-374673c3f700",
      "name": "GitHub",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "492df5a6-f329-4b77-b885-bd5b169674e0",
              "name": "owner",
              "value": "xNok",
              "type": "string"
            },
            {
              "id": "81a70dab-7609-457e-9269-35a91f893393",
              "name": "repo",
              "value": "xNok",
              "type": "string"
            },
            {
              "id": "8ab6ca30-5e58-4a12-9108-71ca9225f5a8",
              "name": "input",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        -540
      ],
      "id": "1c324a3b-fc86-445c-8d21-08fb828125ac",
      "name": "Global"
    },
    {
      "parameters": {
        "toolDescription": "Create Pull-Request on Github to submit completed work ",
        "method": "POST",
        "url": "={{ $('GitHub').item.json.url }}/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{TITLE}\",\n  \"body\": \"{BODY}\",\n  \"head\": \"{NEW-BRANCH-NAME}\",\n  \"base\": \"{BASE-BRANCH-NAME}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "TITLE",
              "type": "string"
            },
            {
              "name": "BODY",
              "type": "string"
            },
            {
              "name": "NEW-BRANCH-NAME",
              "type": "string"
            },
            {
              "name": "BASE-BRANCH-NAME",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1040,
        -40
      ],
      "id": "595d1363-cd2c-4b8d-a1d8-d15881097171",
      "name": "Create GitHub Pull Request",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        },
        "githubApi": {
          "id": "S1lkprAtfGVidye2",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article data:\n{{ $('Global').item.json.toJsonString() }}\n{{ $('Global').item.json.input.name }}\nRepository data\n{{ $('GitHub').item.json.toJsonString() }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=1.  **Retrieve Main Branch SHA:**\n    * Obtain the current SHA (Secure Hash Algorithm) of the `main` branch in the designated GitHub repository. This is essential for creating a new branch from the latest commit.\n\n2 **Verify if similar**\n  * if a similar banche already exist especially starting with the same date it is safe to assume that a branch was already created for this articles, if so simply inform the next agent of the branche name. (Branches are provided in in the repos data provided)\n\n3.  **Create New Branch:**\n    * Generate a new branch with the following naming convention: `{YYYY-MM-DD}-{title-slug}`.\nfriendly slug derived from the article's title (e.g., replace spaces with hyphens, lowercase all letters).\n    * Create this new branch based on the retrieved `main` branch SHA.\n\n**Key Clarifications:**\n* *Branch Creation failure*: if you are unable to create the branch, it might already exist, try to get the branch with that name to confirm\n* *Branch name length**: when it makes sense remove details like authore name and where/when it was published (eg.  | by Alexandre Couëdelo | Oct, 2022 | FAUN Publication)\n* **date**: use publication date, not creation date",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        -560
      ],
      "id": "28774f4c-39c6-477e-8efb-a354ddab41ed",
      "name": "AI Agent Branch Creator"
    },
    {
      "parameters": {
        "content": "## Analyse the content\n",
        "height": 220,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -100
      ],
      "typeVersion": 1,
      "id": "014c047c-04ad-46eb-91cb-0e4897c74522",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Publish Content\n",
        "height": 220,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        -100
      ],
      "typeVersion": 1,
      "id": "02b68048-74ab-4dcc-9aa3-a3c7fee3ca17",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "var index = Math.floor(Math.random() * $input.first().json.data.length);\nreturn $input.first().json.data[index]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1060,
        -760
      ],
      "id": "1f398842-3142-4d5f-ae9e-8b6a5fce49cc",
      "name": "Randomizer"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1180,
        -760
      ],
      "id": "e99c1519-2cb3-4d29-a397-f053df96947e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "57fedf47-e462-48bd-a400-5adf88ecf008",
          "mode": "list",
          "cachedResultName": "Published Articles",
          "cachedResultUrl": "https://www.notion.so/57fedf47e46248bda4005adf88ecf008"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1300,
        -760
      ],
      "id": "b2096614-13b3-4f3b-be61-abb620d295aa",
      "name": "Published Articles",
      "credentials": {
        "notionApi": {
          "id": "WfCmw0zchSH9Yw4W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Preparing data before sending it to the AI",
        "height": 500,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1480,
        -840
      ],
      "typeVersion": 1,
      "id": "99660de8-0cd8-4740-9bc2-9a3ffe901001",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "toolDescription": "Get the list of current branches for a repository",
        "url": "={{ $('GitHub').item.json.url }}/{ENDPOINT}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "ENDPOINT",
              "description": "This should be branches by default"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -320,
        -180
      ],
      "id": "2bc680df-0bf2-4432-9cc1-eac5d52b2789",
      "name": "List Git branches",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gets the contents of a file or directory in a repository. Specify the file path or directory with the path parameter. If you omit the PATH parameter, you will receive the contents of the repository's root directory.",
        "url": "={{ $('GitHub').item.json.url }}/contents/{PATH}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "PATH",
              "description": "The path you wich to retrive centent from",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        540,
        -40
      ],
      "id": "96598639-a387-4b1c-be49-620ad6853681",
      "name": "Get repository content",
      "credentials": {
        "githubOAuth2Api": {
          "id": "S9AffrrX7P2CgGz3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pre-workflow\n",
        "height": 620,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        -640
      ],
      "typeVersion": 1,
      "id": "b89cb9f5-0a65-424e-9af1-a4dca1fda79e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Blog Edition workflow",
        "height": 800,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        -640
      ],
      "typeVersion": 1,
      "id": "a4155e0a-93e2-46bc-9a56-e33d3b7050de",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -500,
        -400
      ],
      "id": "32dc1863-cbb5-4d19-aab5-6bb452485cf4",
      "name": "Google Gemini Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "NtlUZLNkurhNWplg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        -400
      ],
      "id": "00b73f85-8c9f-4cc8-ad08-e326d5ad3f3b",
      "name": "Google Gemini Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "NtlUZLNkurhNWplg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"branch\": \"{YYYY-MM-DD}-{title-slug}\",\n\t\"message\": \"summary of action for next AI agent\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -60,
        -380
      ],
      "id": "1e1ec5c2-73e2-46c8-b9ae-7eac78ebd9e0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"pr_url\": \"https://github.com/{owner}/{repo}/pull/{id}\",\n    \"summary\": \"I have done the following actions: ...\",\n    \"action\": \"update/create\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        -420
      ],
      "id": "4180c14a-e284-4936-9dc8-b31949d01385",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1440,
        -760
      ],
      "id": "44c81d3b-6428-4cbe-a900-8ba65baa8ffe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4bd8656d-a3be-4c9c-8f3a-7b02a471c6bb",
              "leftValue": "={{ $json.property_published_date }}",
              "rightValue": "=null",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -860,
        -760
      ],
      "id": "6c694d04-0641-49b4-9b1e-bca0e130c846",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4bd8656d-a3be-4c9c-8f3a-7b02a471c6bb",
              "leftValue": "={{ $json['Published Date'] }}",
              "rightValue": "=null",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1260,
        -560
      ],
      "id": "4e21bc88-0d59-4035-a6f9-b8bc6e033581",
      "name": "If1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Global').item.json.input.id }}-2"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        480,
        -400
      ],
      "id": "75e5934c-9b40-46e0-be64-bdfc8504cd5b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "85lAUCQ4Q6fnhom4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Global').item.json.input.id }}-1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -380,
        -400
      ],
      "id": "ca9ff2af-3a98-430d-90c1-ce0e36443bdc",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "85lAUCQ4Q6fnhom4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1120,
        -560
      ],
      "id": "675159c1-3e58-48c3-bbbb-e58e89487134",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -820,
        -480
      ],
      "id": "86fdba92-99a2-4b27-a1ec-b02bc4a17a0c"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2025-03-17T21:45:00.000Z",
      "possibleDuplicates": [
        "a38e41d5-0a1f-42de-86e7-31ebcc7a552e",
        "1c426908-0ab4-4e84-b756-c2f5c7343ffd"
      ]
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-03-16T23:03:19.000Z",
  "versionId": "0e316470-c4b6-4ad5-a9b1-318cf16f3c86"
}